<extend name="Base/layout"/>
<block name="body">
    <div class="main">
        <div class="container-fluid" id="content">
                <volist name="list" id="estate">
            <div class="row noticeList">
                <a href="{:U('estate/detail?id='.$estate['id'])}">
                    <div class="col-xs-2">
                        <img class="noticeImg" src="{$estate.cover_id|get_cover ='path'}" />
                    </div>
                    <form>
                        <input type="hidden" name="{$estate.id}">
                    </form>
                    <div class="col-xs-10">
                        <p class="title">{$estate.title}</p>
                        <p class="intro">{$estate.description}</p>
                        <p class="info">浏览: {$estate.view} <span class="pull-right">{$estate.create_time|date='Y-m-d H:i:s',###}</span> </p>
                    </div>
                </a>
            </div>
                </volist>
        </div>
        <div class="text-center"><button class="btn btn-info ajax-get-self">获取更多多~~</button></div>
    </div>
    </block>
<block name="script">
        <script type="application/javascript">
            var p= {:I('p',1)};
            $('.ajax-get-self').click(function(){

                $.get('{:U()}',{'p':p+1},function(data){
                    if(data){
                        var html = '';
                        $(data).each(function(i,e){
                            html += ' <div class="row noticeList">\
                                    <a href="{:U('estate/detail','',false)}/id/'+ e.id+'">\
                                            <div class="col-xs-2">\
                                            <img class="noticeImg" src="'+ e.path +'" />\
                                            </div>\
                                            <div class="col-xs-10">\
                                            <p class="title">'+e.title+'</p>\
                                <p class="intro">'+e.description+'</p>\
                            <p class="info">浏览: '+e.view+' <span class="pull-right">'+ e.add_time+'</span> </p>\
                </div>\
                </a>\
                </div>'
                        });
                        p += 1;
                        $("#content").append(html);
                    }else{
                        $('.ajax-get-self').remove();
                    }
                })
            });
        </script>

</block>